{% load static %}
<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">    
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <header class="site-header pt-3 pb-3 position-relative">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="d-flex align-items-center justify-content-between">
                      <a href="{% url 'ruyet:anasayfa' %}" class="logo">
                          <img src="{% static 'assets/img/herkobi.png' %}" alt="Herkobi Dijital Çözümler" class="img-fluid">
                      </a>
                      <div class="login-link">
                          <div class="d-flex align-self-center">
                              {% if user.is_authenticated %}
                              <a href="{% url 'account_email' %}" title="Herkobi Oturum Aç">E-posta Değiştir</a>
                              <a href="{% url 'account_logout' %}" style="margin-left: 18px;" title="Herkobi Oturum Aç">Oturumu Kapat</a>
                              {% else %}
                              <a href="{% url 'account_login' %}" title="Herkobi Oturum Aç">Oturum Açın</a>
                              <a href="{% url 'account_signup' %}" style="margin-left: 18px;" title="Herkobi Üye Ol">Üye Olun</a>
                              {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
    {% block content %}
    {% endblock %}
    <footer class="mt-auto py-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-links text-center">
                        <a href="#">Gizlilik Politikası</a>
                        <a href="#">Kullanım Sözleşmesi</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
