
{% extends 'base.html' %}
{% load static %}

{% block head_title %}Kullanıcılar{% endblock head_title %}

{% block content %}

<div class="page-content-tab">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Herkobi</a>
                            </li><!--end nav-item-->
                            {% comment %} <li class="breadcrumb-item"><a href="#"></a> {% endcomment %}
                            </li><!--end nav-item-->
                            <li class="breadcrumb-item active">TeaTakım Arkadaşlarımızms</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Çalışanlarımız</h4>
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-lg-6">
                <h5 class="m-0 font-14">Aktif Kullanıcılar. <span class="badge badge-soft-pink">{{ '6' }}</span></h5>
            </div><!--end col-->
            <div class="col-lg-6 text-end">
                <a href="{% url 'uygulamalar:yeni_mustahdim' %}" class="btn btn-primary btn-sm mb-3">Yeni Kullanıcı Ekle</a>                      
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            {% for obj in mustahdimin.all %}
            <div class="col-lg-4">
                <div class="card team-card">
                    <div class="card-body">
                        <div class="float-end">                                        
                            <div class="dropdown d-inline-block">
                                <a class="dropdown-toggle" id="dLabel1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="las la-ellipsis-v font-24 text-muted"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dLabel1">
                                    <a class="dropdown-item" href="{% url 'uygulamalar:tatbikati_mustahdim' obj.pk %}">Sorumluluk Ver</a>
                                    <a class="dropdown-item" href="#">Edit Card</a> 
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>
                        </div>                                                 
                        <div class="media align-items-center">                                                
                            <div class="img-group">
                                <a class="user-avatar me-1" href="#">
                                    <img src="{% static 'dist/assets/images/users/user-10.jpg' %}" alt="user" class="rounded-circle thumb-md">
                                    <span class="avatar-badge online"></span>
                                </a>
                            </div>                                                                           
                            <div class="media-body ms-2 align-self-center">
                                <h5 class="m-0">{{ obj.ad }} {{ obj.soyad }}</h5>
                                <p class="text-muted font-12 mb-0">{% if obj.mumtaz %}Yönetici{% else %}Çalışan{% endif %}</p>                                            
                            </div>                                                                           
                        </div> 
                        <h4 class="m-0 mt-3 font-13 mb-0 fw-semibold">{{obj.mustecir.unvan}}</h4>
                        <p class="text-muted mb-0">Rabbi yessir ve la tuassir rabbi temmim bil hayr.</p>
                        <div class="mt-3 d-flex justify-content-between">
                            <div class="img-group">
                                <a class="user-avatar" href="#">
                                    <img src="{% static 'dist/assets/images/users/user-8.jpg' %}" alt="user" class="thumb-xs rounded-circle">
                                </a>
                                <a class="user-avatar ms-n3" href="#">
                                    <img src="{% static 'dist/assets/images/users/user-5.jpg' %}" alt="user" class="thumb-xs rounded-circle">
                                </a>
                                <a class="user-avatar ms-n3" href="#">
                                    <img src="{% static 'dist/assets/images/users/user-4.jpg' %}" alt="user" class="thumb-xs rounded-circle">
                                </a>
                                <a class="user-avatar ms-n3" href="#">
                                    <img src="{% static 'dist/assets/images/users/user-6.jpg' %}" alt="user" class="thumb-xs rounded-circle">
                                </a>
                                <a href="" class="user-avatar">
                                    <span class="thumb-xs justify-content-center d-flex align-items-center bg-soft-info rounded-circle fw-semibold">+6</span>
                                </a>                    
                            </div>  
                            <div class="align-self-center">
                                <button type="button" class="btn btn-xs btn-light btn-round">View Details <i class="mdi mdi-arrow-right"></i></button>
                            </div> 
                        </div>                                     
                       <hr class="hr-dashed my-3">
                        <div class="media align-items-center">                                                
                            <img src="{% static 'dist/assets/images/small/project-2.jpg' %}" alt="" class="rounded-circle thumb-sm">
                            <div class="media-body ms-3 align-self-center">
                                <h6 class="m-0 font-15">Banking</h6>
                                <div class="d-flex justify-content-between">
                                    <span>
                                        <a class="" href="#">
                                            <i class="mdi mdi-format-list-bulleted text-success"></i>
                                            <span class="text-muted">50/100</span>
                                        </a>
                                    </span>
                                    <span class="text-muted">55% Complete</span>
                                </div>
                                <div class="progress mt-0" style="height:3px;">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>                                           
                            </div>                                                                           
                        </div>     
                    </div><!--end card-body-->
                </div><!--end card-->
            </div>
            {% endfor %}
        </div><!--end row-->
    </div><!-- container -->
    <!--Start Rightbar-->
    <!--Start Rightbar/offcanvas-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="Appearance" aria-labelledby="AppearanceLabel">
        <div class="offcanvas-header border-bottom">
          <h5 class="m-0 font-14" id="AppearanceLabel">Appearance</h5>
          <button type="button" class="btn-close text-reset p-0 m-0 align-self-center" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">  
            <h6>Account Settings</h6>
            <div class="p-2 text-start mt-3">
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="settings-switch1">
                    <label class="form-check-label" for="settings-switch1">Auto updates</label>
                </div><!--end form-switch-->
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="settings-switch2" checked>
                    <label class="form-check-label" for="settings-switch2">Location Permission</label>
                </div><!--end form-switch-->
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="settings-switch3">
                    <label class="form-check-label" for="settings-switch3">Show offline Contacts</label>
                </div><!--end form-switch-->
            </div><!--end /div-->
            <h6>General Settings</h6>
            <div class="p-2 text-start mt-3">
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="settings-switch4">
                    <label class="form-check-label" for="settings-switch4">Show me Online</label>
                </div><!--end form-switch-->
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="settings-switch5" checked>
                    <label class="form-check-label" for="settings-switch5">Status visible to all</label>
                </div><!--end form-switch-->
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="settings-switch6">
                    <label class="form-check-label" for="settings-switch6">Notifications Popup</label>
                </div><!--end form-switch-->
            </div><!--end /div-->               
        </div><!--end offcanvas-body-->
    </div>
    <!--end Rightbar/offcanvas-->
     <!--end Rightbar-->
     
    <!--Start Footer-->
    <!-- Footer Start -->
    <footer class="footer text-center text-sm-start">
        &copy; <script>
            document.write(new Date().getFullYear())
        </script> Metrica <span class="text-muted d-none d-sm-inline-block float-end">Crafted with <i
                class="mdi mdi-heart text-danger"></i> by Mannatthemes</span>
    </footer>
    <!-- end Footer -->                
    <!--end footer-->
</div>

{% endblock content %}
